html {
	font-family: Microsoft JhengHei;
	width: 100%
}

h2 {
	font-size: 13pt;
	margin : 0px 3px 0px 3px;
	color : rgb(0,125,125);
}

#content {
    margin-left: auto; margin-right: auto;
	margin-top: 10px;
	width: 400px;
	background-color: rgb(135, 172, 85);
} 
.inputs{
	background-image: url("../images/KAEDU.jpg"); 
	background-repeat: no-repeat
	background-size: 400px;
	height:225px;
}
.digital{
	float: left;
	width: 150px;
	height : 200px;
	margin : 5px 10px 15px 10px ;
	background-color: rgba(255, 255, 255, 0.5);
}
.digital_value{
    margin: 0px 3px 0px 3px;
    font-size: 10pt;
}
.analog{
	float: left;
	width: 150px;
    margin : 85px 0px 10px 0px; 
	background-color: rgba(255, 255, 255, 0.5);
}
.analog_value {
     margin: 0px 3px 0px 3px;   
     font-size: 10pt;
}
.outputs{
    height: 250px;
	background-image: url("../images/KAEDU.jpg"); 
	background-repeat: no-repeat;
}
.leds{
    float: left;
    height: 150px;
    width : 100px;
    margin : 15px 15px 15px 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.control{
	height: 200px;
}
.controle1{
    margin-left:7px;
}
.control h2 {
    font-size: 8pt;
}
.controle1{
    width:100%;
}
.switch{
	width:78px;
	padding:6px 6px 6px 10px;
    float:left;
}
.switch img {
    width:70px;
    padding:2px;
}








