html {
	font-family: Microsoft JhengHei;
	width: 100%
}

h2 {
	font-size: 15pt;
	margin : 0px 5px 2px 5px;
}

hr {
	width: 70%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

#content {
    margin-left: auto; margin-right: auto;
	margin-top: 40px;
	width: 800px;
	background-color: rgb(135, 172, 85);
} 
.inputs{
	background-image: url("../images/KAEDU.jpg"); 
	background-repeat: no-repeat
	background-size: 800px;
	height:450px;
}
.digital{
	float: left;
	width: 200px;
	height : 400px;
	margin : 25px 10px 25px 10px ;
	background-color: rgba(255, 255, 255, 0.5);
}
.digital_value{
    margin: 5px 0px 15px 0px;
}
.analog{
	float: left;
	width: 200px;
    margin : 210px 0px 10px 0px; 
	background-color: rgba(255, 255, 255, 0.5);
}
.analog_value {
     margin: 5px 0px 15px 0px;   
}
.outputs{
	background-image: url("../images/KAEDU.jpg"); 
	background-repeat: no-repeat;
}
.leds{
    height:450px;
    width : 200px;
    margin : 25px auto 25px 425px;
    background-color: rgba(255, 255, 255, 0.5);
}
.control{
	height: 300px;
}
.controle1{
    width:90%;
}
.switch{
	width:150px;
	padding:5px 15px 5px 15px;
    float:left;
}
.switch img {
    width:150px;
    padding:2px;
}








